In [3]:
from urllib.request import urlopen
import numpy as np
import pandas as pd
import json

In [4]:
url = "https://crm.nissan.co.th/mapi/evar/evmarkers.aspx"

In [5]:
response = urlopen(url)

In [6]:
data_json = json.loads(response.read())

In [8]:
df = pd.json_normalize(data_json, record_path =['data'])
df

,evsttid,networkname,stationname,addth,addeng,plgtypename,lat,lng
0,1,MEA,กรมควบคุมมลพิษ,92 ซ.พหลโยธิน 7 แขวงสามเสนใน เขตพญาไท กรุงเทพฯ...,"92 Phaholyothin 7, Khwaeng Sam Sen Nai, Khet P...",type 2,13.784445,100.539844
1,1,MEA,กรมควบคุมมลพิษ,92 ซ.พหลโยธิน 7 แขวงสามเสนใน เขตพญาไท กรุงเทพฯ...,"92 Phaholyothin 7, Khwaeng Sam Sen Nai, Khet P...",chademo,13.784445,100.539844
2,2,MEA,บริษัท แรบบิท ออโต้ คราฟท์ จำกัด,2741/9 ถนนลาดพร้าว แขวงคลองเจ้าคุณสิงห์ เขตวัง...,"2741/9 Lard plao Rd, Khwaeng Khlong Chaokhunsi...",chademo,13.776982,100.626810
3,3,MEA,บริษัท ทีเอสแอล ออโต้ คอร์ปอเรชั่น จำกัด,78/9 หมู่ 1 ถนนแจ้งวัฒนะ ตำบลคลองเกลือ อำเภอปา...,"78/9 Moo.1, Chaeng Watthana Rd, Khlong Klua, P...",chademo,13.897237,100.550172
4,4,MEA,บริษัท ทีเอสแอล ออโต้ เซอร์วิส 2016 จำกัด,ถนนบรมราชชนนี 68 แขวงศาลาธรรมสพน์ เขตทวีวัฒนา ...,"Borommaratchachonnani 68 Rd, Khwaeng Sala Tham...",chademo,13.788177,100.376583
...,...,...,...,...,...,...,...,...
584,501,EA ANYWHERE,CALTEX เอ็ม เอ็นเนอร์จี้,190 หมู่ที่3 ต.สันกลาง อ.สันกำแพง จ.เชียงใหม่ ...,190 หมู่ที่3 ต.สันกลาง อ.สันกำแพง จ.เชียงใหม่ ...,type 2,18.778977,99.069310
585,502,EA ANYWHERE,CALTEX ไพศาลนครสวรรค์,99 หมู่ที่7 ต.บางม่วง อ.เมือง จ.นครสวรรค์ Bang...,99 หมู่ที่7 ต.บางม่วง อ.เมือง จ.นครสวรรค์ Bang...,type 2,15.750086,100.122142
586,503,EA ANYWHERE,Rest Go Tiwanon,401/3 หมู่ที่3 ต.บ้านใหม่ อ.ปากเกร็ด จ.นนทบุรี...,401/3 หมู่ที่3 ต.บ้านใหม่ อ.ปากเกร็ด จ.นนทบุรี...,type 2,13.937406,100.540006
587,504,EA ANYWHERE,ฟอร์ตี้ ไนน์,49 หมู่ที่12 ต.หนองควาย อ.หางดง จ.เชียงใหม่ No...,49 หมู่ที่12 ต.หนองควาย อ.หางดง จ.เชียงใหม่ No...,type 2,18.740252,98.935720
588,505,EA ANYWHERE,Magnolias Waterfront Residences,259 ถ.เจริญนคร คลองต้นไทร คลองสาน กรุงเทพฯ Kh...,259 ถ.เจริญนคร คลองต้นไทร คลองสาน กรุงเทพฯ Kh...,type 2,13.727306,100.510499

In [32]:
df.columns

Index(['evsttid', 'networkname', 'stationname', 'addth', 'addeng',
       'plgtypename', 'lat', 'lng'],
      dtype='object')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589 entries, 0 to 588
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   evsttid      589 non-null    object
 1   networkname  589 non-null    object
 2   stationname  589 non-null    object
 3   addth        589 non-null    object
 4   addeng       589 non-null    object
 5   plgtypename  589 non-null    object
 6   lat          589 non-null    float64
 7   lng          589 non-null    float64
dtypes: float64(2), object(6)
memory usage: 36.9+ KB

In [37]:
df2 = df[['networkname','stationname','addeng','plgtypename','lat','lng']]
df2.rename(columns = {'networkname':'Operator', 'stationname':'Station', 'addeng':'Address', 'plgtypename':'Charger', 'lat':'Lattitude', 'lng':'Longitude'}, inplace = True)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [38]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589 entries, 0 to 588
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Operator   589 non-null    object
 1   Station    589 non-null    object
 2   Address    589 non-null    object
 3   Charger    589 non-null    object
 4   Lattitude  589 non-null    float64
 5   Longitude  589 non-null    float64
dtypes: float64(2), object(4)
memory usage: 27.7+ KB

In [39]:
df2.head()

,Operator,Station,Address,Charger,Lattitude,Longitude
0,MEA,กรมควบคุมมลพิษ,"92 Phaholyothin 7, Khwaeng Sam Sen Nai, Khet P...",type 2,13.784445,100.539844
1,MEA,กรมควบคุมมลพิษ,"92 Phaholyothin 7, Khwaeng Sam Sen Nai, Khet P...",chademo,13.784445,100.539844
2,MEA,บริษัท แรบบิท ออโต้ คราฟท์ จำกัด,"2741/9 Lard plao Rd, Khwaeng Khlong Chaokhunsi...",chademo,13.776982,100.626810
3,MEA,บริษัท ทีเอสแอล ออโต้ คอร์ปอเรชั่น จำกัด,"78/9 Moo.1, Chaeng Watthana Rd, Khlong Klua, P...",chademo,13.897237,100.550172
4,MEA,บริษัท ทีเอสแอล ออโต้ เซอร์วิส 2016 จำกัด,"Borommaratchachonnani 68 Rd, Khwaeng Sala Tham...",chademo,13.788177,100.376583

In [40]:
df3 = df2[df2['Operator'] == "NISSAN EV"]
df3

,Operator,Station,Address,Charger,Lattitude,Longitude
328,NISSAN EV,SIAM NISSAN SALES,"80 VIBHAVADIRANGSIT ROAD, LARDYAO, JATUJAK, ...",type 1,13.838733,100.558117
329,NISSAN EV,SIAM NISSAN SALES,"80 VIBHAVADIRANGSIT ROAD, LARDYAO, JATUJAK, ...",chademo,13.838733,100.558117
330,NISSAN EV,RUNGCHAROEN CAR,"77/1 MOO 1, RACHATHEWA, BANGPHI, SAMUTPRAKARN ...",type 1,13.630600,100.718033
331,NISSAN EV,RUNGCHAROEN CAR,"77/1 MOO 1, RACHATHEWA, BANGPHI, SAMUTPRAKARN ...",chademo,13.630600,100.718033
332,NISSAN EV,SIAM NISSAN MAHANAKHON,"89 MOO 8 SUWINTHAWONG ROAD, KHOKFAET, NONGCH...",type 1,13.809608,100.805456
...,...,...,...,...,...,...
387,NISSAN EV,HATYAI MOTOR,"1388 PETCHKASEM ROAD, HATYAI, HATYAI, SONGKHLA...",chademo,6.999131,100.440433
388,NISSAN EV,BAECHAREON INTERGROUP,"55/55 SOI MOO BANBORFAI, HUAHIN, HUAHIN, PRACH...",type 1,12.620997,99.951023
389,NISSAN EV,BAECHAREON INTERGROUP,"55/55 SOI MOO BANBORFAI, HUAHIN, HUAHIN, PRACH...",chademo,12.620997,99.951023
390,NISSAN EV,SIAM NISSAN PATTANI (2000),"800 PETCHKASEM ROAD, HATYAI, HATYAI, SONGKHLA ...",type 1,7.019139,100.488256
391,NISSAN EV,SIAM NISSAN PATTANI (2000),"800 PETCHKASEM ROAD, HATYAI, HATYAI, SONGKHLA ...",chademo,7.019139,100.488256

In [42]:
df3['Province'] = df3['Address'].apply(lambda x: x.split(" ")[-2])

<ipython-input-42-8e42505c6b5d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Province'] = df3['Address'].apply(lambda x: x.split(" ")[-2])

In [43]:
df3

,Operator,Station,Address,Charger,Lattitude,Longitude,Province
328,NISSAN EV,SIAM NISSAN SALES,"80 VIBHAVADIRANGSIT ROAD, LARDYAO, JATUJAK, ...",type 1,13.838733,100.558117,BANGKOK
329,NISSAN EV,SIAM NISSAN SALES,"80 VIBHAVADIRANGSIT ROAD, LARDYAO, JATUJAK, ...",chademo,13.838733,100.558117,BANGKOK
330,NISSAN EV,RUNGCHAROEN CAR,"77/1 MOO 1, RACHATHEWA, BANGPHI, SAMUTPRAKARN ...",type 1,13.630600,100.718033,SAMUTPRAKARN
331,NISSAN EV,RUNGCHAROEN CAR,"77/1 MOO 1, RACHATHEWA, BANGPHI, SAMUTPRAKARN ...",chademo,13.630600,100.718033,SAMUTPRAKARN
332,NISSAN EV,SIAM NISSAN MAHANAKHON,"89 MOO 8 SUWINTHAWONG ROAD, KHOKFAET, NONGCH...",type 1,13.809608,100.805456,BANGKOK
...,...,...,...,...,...,...,...
387,NISSAN EV,HATYAI MOTOR,"1388 PETCHKASEM ROAD, HATYAI, HATYAI, SONGKHLA...",chademo,6.999131,100.440433,SONGKHLA
388,NISSAN EV,BAECHAREON INTERGROUP,"55/55 SOI MOO BANBORFAI, HUAHIN, HUAHIN, PRACH...",type 1,12.620997,99.951023,PRACHUAPKHIRIKHAN
389,NISSAN EV,BAECHAREON INTERGROUP,"55/55 SOI MOO BANBORFAI, HUAHIN, HUAHIN, PRACH...",chademo,12.620997,99.951023,PRACHUAPKHIRIKHAN
390,NISSAN EV,SIAM NISSAN PATTANI (2000),"800 PETCHKASEM ROAD, HATYAI, HATYAI, SONGKHLA ...",type 1,7.019139,100.488256,SONGKHLA
391,NISSAN EV,SIAM NISSAN PATTANI (2000),"800 PETCHKASEM ROAD, HATYAI, HATYAI, SONGKHLA ...",chademo,7.019139,100.488256,SONGKHLA

In [ ]:
df3.to_csv('NISSAN_EV_STATION.csv',encoding="utf-8-sig", index=False)

# Upload data to DataPlatform

In [ ]:
from dsmlibrary.datanode import DataNode

In [ ]:
dir_raw_id = 41

In [ ]:
datanode = DataNode()

In [ ]:
datanode.upload_file(directory_id=dir_raw_id, file_path='NISSAN_EV_STATION.csv')